/* PHASE 1: Header */

body {
  /* Write your css here... */
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #eee;
}

.header {
  background-color: #f00;
  border-bottom: solid thin #eee;
  color: #fff;
}

.header a {
  display: block;
  padding: 10px;
}

.header-nav {
  width: 900px;
  /*background-color: green;*/
  margin: auto;
  border-left: solid thin #eee;
  border-right: solid thin #eee;

}


/*Specifications

Colors

Black: #000
White: #fff
Dark Gray: #aaa
Gray: #ccc
Light Gray: #eee
Red: #f00
Type

Font Family: sans-serif
Font Weights: 400, 700
Font Sizes: 24px, 16px, 14px
Borders

Thickness: 1px
Layout

Whitespace: 5px, 10px, 20px
Total Size Container: 900px
Total Size Sidebar: 240px
Total Size Content: 660px*/
